<h1>Listing ligas</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ligas.each do |liga| %>
      <tr>
        <td><%= link_to 'Show', liga %></td>
        <td><%= link_to 'Edit', edit_liga_path(liga) %></td>
        <td><%= link_to 'Destroy', liga, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Liga', new_liga_path %>
